body {
    margin: 0;
    font-family: "europa", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #282828;
    text-align: left;
    background-color: #FFF;
}

body {
    letter-spacing: 0.3px;
}

.overflow-visible {
    overflow: visible !important;
}

.bg-tertiary {
    background-color: #03490c !important;
}

@media (max-width: 767.98px) {

    section[class*=with-header],
    footer[class*=with-header] {
        margin-top: -8rem;
        padding-top: 9.75rem;
    }
}

section[class*=with-header],
footer[class*=with-header] {
    margin-top: -8rem;
    padding-top: 11.5rem;
}


@media (max-width: 767.98px) {

    section,
    footer {
        padding: 1.75rem 0;
    }

    section,
    footer {
        position: relative !important;
        padding: 3.5rem 0;
        overflow: hidden;
    }
}

@media (min-width: 768px){
    .filter__form button[type=submit] {
        font-size: 1.125rem;
        border-radius: 4rem 10rem 10rem 4rem;
    }
}

.btn-success {
    color: #FFF;
    background-color: #28a745;
    border-color: #28a745;
  }
  .btn-success:hover {
    color: #FFF;
    background-color: #218838;
    border-color: #1e7e34;
  }
  .btn-success:focus, .btn-success.focus {
    color: #FFF;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
  }
  .btn-success.disabled, .btn-success:disabled {
    color: #FFF;
    background-color: #28a745;
    border-color: #28a745;
  }
  .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
    color: #FFF;
    background-color: #1e7e34;
    border-color: #1c7430;
  }
  .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
  }

.btn-light {
    color: #212529;
    background-color: #F5F5F5;
    border-color: #F5F5F5;
  }
  .btn-light:hover {
    color: #212529;
    background-color: #e2e2e2;
    border-color: gainsboro;
  }
  .btn-light:focus, .btn-light.focus {
    color: #212529;
    background-color: #e2e2e2;
    border-color: gainsboro;
    box-shadow: 0 0 0 0.2rem rgba(213, 214, 214, 0.5);
  }
  .btn-light.disabled, .btn-light:disabled {
    color: #212529;
    background-color: #F5F5F5;
    border-color: #F5F5F5;
  }
  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    color: #212529;
    background-color: gainsboro;
    border-color: #d5d5d5;
  }
  .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(213, 214, 214, 0.5);
  }

  .btn-search{
    padding: 1rem 2rem;
  }
.btn-block {
    display: block;
    width: 100%;
}

.btn-block+.btn-block {
    margin-top: 0.5rem;
}

input[type=submit].btn-block,
input[type=reset].btn-block,
input[type=button].btn-block {
    width: 100%;
}

  .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 1rem 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4;
    color: #282828;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

@media (min-width: 768px) {
    .filter__nav {
        margin: 0 2.25rem;
    }

    .filter__form {
        padding: 0.5rem 0.5rem 0.5rem 2rem;
        border-radius: 10rem;
        margin-bottom: 0;
    }

    .filter__form button[type=submit] {
        font-size: 1.125rem;
        border-radius: 4rem 10rem 10rem 4rem;
    }

    .filter__form .form-group-overlay {
        margin: 0;
    }

    .filter__form .form-group-overlay label {
        position: inherit;
        transform: inherit;
        height: 20px;
        padding: 0;
        margin: 0;
    }

    .filter__form .form-group-overlay .form-control {
        border-width: 0;
        padding: 0;
        height: 20px;
        border-radius: 0;
    }

    .filter__form .form-group-overlay.first {
        border-right: 1px solid #e9ecef;
    }
}

.nav-item {
    padding: 5px 0px 5px 10px;
    margin: 0px 28px;
    color: rgb(250, 250, 250);
}

.nav-item .blogs{
    display: inline-block;
    /* margin-top: 3px; */
}

.navbar-brand{
    font-size: 28px;
    display: inline-block;
    padding-top: 10px;
}

.navbar-brand:hover{
    color: rgb(250, 250, 250);

}

/* .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
} */

.nav-item a {
    color: rgb(250, 250, 250);
    font-size: 16px;
    text-decoration: none;
    padding-top: 10px;
}

.nav-item a .space {
    color: rgb(250, 250, 250);
    font-size: 16px;
    text-decoration: none;
    padding-top: 10px;
}

.phone-btn {
    height: fit-content !important;
    width: 10rem;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: rgb(250, 250, 250);
    border: 0;
    opacity: 0.25;
}

hr:not([size]) {
    height: 1px;
}

@media (min-width: 768px){
    .usps {
        border-bottom: 1px solid #e9ecef;
        padding: 2.0rem 0;
    }
}

@media (max-width: 991.98px) {
    .swiper-slide.small {
      width: 40% !important;
    }
  }
  @media (max-width: 767.98px) {
    .swiper-slide {
      width: 45% !important;
    }
    .swiper-slide.large {
      width: 80% !important;
    }
    .swiper-slide.small {
      width: 37% !important;
    }
  
    .rooms-slider .swiper-slide, .partners-slider .swiper-slide {
      width: inherit !important;
    }
  } 

  small,
.small {
  font-size: 80%;
  font-weight: 400;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }

  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; */
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
 
  .doctors-carousel{
    background-color: #c2f1c6;
    padding-top: 30px;
    max-width: 100%;
    min-height: 450px;
  }

  :where(.css-dev-only-do-not-override-mxhywb).ant-carousel .slick-dots-bottom {
    bottom: -40px;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-carousel .slick-dots li button {
  background: #013106;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-carousel .slick-dots li.slick-active button {
  background: #10821c;
  opacity: 1;
}